---
layout: page
title: All posts
---

{% for post in site.posts %}

<article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h5 class="post-title">{{ post.title }}</h5>
    </a>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
    {% endif %}
    <p class="post-meta">Posted by
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.author }}
        {% endif %}
        on
        {{ post.date | date: '%B %d, %Y' }} &middot;
    </p>
</article>

<hr>

{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
