---
layout: default
---

<!-- Page Header -->

<div class="container">

    <section class="jumbotron text-center">
        <h1 class="jumbotron-heading">Hungai Amuhinda</h1>
        <p class="lead text-muted">
            System architecture, platform engineering and performance consulting.
        </p>
    </section>

    <section id="about" class="about mb-5">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>
                    I offer holistic system consulting either for new systems or to evaluate the state of an existing system. An engagement typically either
                    covers every aspect of the system or a specialised review of one of the topics below.
                </p>
            </div>

            <div class="content">
<!--                <div class="col-lg-6">-->
<!--                    <img src="assets/about.jpg" class="img-fluid" alt="">-->
<!--                </div>-->
<!--                <div class="col-lg-6 pt-4 pt-lg-0">-->
<!--                <div>-->
                   <!-- <p>
                        For engagements over a week I work with <a href="https://cecg.io">Core Engineering Consulting Group</a>.
                        They have a pool of senior consultants that specialise in:

                    </p>-->
                    <ul>
                        <li><i class="ri-check-double-line"></i> Continuous integration and deployment </li>
                        <li><i class="ri-check-double-line"></i> Platform engineering with engineers who have run Kubernetes in production </li>
                        <li><i class="ri-check-double-line"></i> Google Cloud, AWS, and hybrid setups </li>
                    </ul>

<!--                </div>-->
            </div>

        </div>
    </section>

<!--    TODO add icocs-->
    <section id="features" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"></div>
                    <h4 class="title"><a href="/systems/">System architecture</a></h4>
                    <p class="description">
                        System architecture covers everything that is hard to change later.
                        Picking the right inter-service communication, database technology, database access (i.e. CRUD vs Eventing sourcing) all
                        have implications on performance, reliability, and availability.
                    </p>
                </div>
<!--                <div class="col-lg-4 col-md-6 icon-box">-->
<!--                    <div class="icon"></div>-->
<!--                    <h4 class="title"><a href="/systems/">Reliability</a></h4>-->
<!--                    <p class="description">-->
<!--                       Carefully targeting reliability is a must. Too much and your business will waste too much time on engineering.-->
<!--                        Too little and your customers will leave you.-->
<!--                        Reliability engineering touches every part of system design: database choice, software design, ingress, and inter-service communication.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 icon-box">-->
<!--                    <div class="icon"></div>-->
<!--                    <h4 class="title"><a href="/scalability/">Scalability</a></h4>-->
<!--                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 icon-box">-->
<!--                    <div class="icon"></div>-->
<!--                    <h4 class="title"><a href="/cloud/">Cloud</a></h4>-->
<!--                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 icon-box">-->
<!--                    <div class="icon"></div>-->
<!--                    <h4 class="title"><a href="/system-performance">System performance</a></h4>-->
<!--                    <p class="description"></p>-->
<!--                </div>-->
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"></div>
                    <h4 class="title"><a href="/platforms/">Platform engineering</a></h4>
                    <p class="description">
                        Most organisations, perhaps under a different name, are building a Platform as a Service. Getting the right trade off between ease, i.e. off shelf cloud services,
                        vs flexibility is key.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"></div>
                    <h4 class="title"><a href="/containers">Containers</a></h4>
                    <p class="description">
                        Containers offer a brilliant handoff between development teams and
                        platform/infrastructure teams. Container strategies range from managed services such as Google's Cloud Run all the way to building out
                        your own Kubernetes clusters. How to pick the right strategy and upskill developers and your infrastructure teams.
                    </p>
                </div>
<!--                <div class="col-lg-4 col-md-6 icon-box">-->
<!--                    <div class="icon"></div>-->
<!--                    <h4 class="title"><a href="/jvm">JVM & GC tuning</a></h4>-->
<!--                    <p class="description">As an experienced JVM concurrency and distributed systems library builder and having managed JVM applications in production for over a decade-->
<!--                        I can help your organisation with all JVM related tuning</p>-->
<!--                </div>-->
            </div>

        </div>
    </section>

</div>



<br>

<br>