---
layout: default
---

<!-- Page Header -->

  <div class="container">

    {% include title.html title=page.title %}

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <!-- Tagged post list-->


        {% for post in site.tags[page.tag] %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h5 class="post-title">{{ post.title }}</h5>
          </a>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
            {% endif %}
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot;
          </p>
        </article>

        <hr>

        {% endfor %}
      </div>
    </div>
  </div>